/* ONE SPEED ONLY - Simple Scroll */
.marquee {
    overflow: hidden;
    background: #ffffff;
    padding: 30px 0;
    position: relative;
    margin-top: -37px;
}

.marquee__inner {
    display: flex;
    width: max-content;
    animation: oneSpeedOnly 25s linear infinite;
}

.marquee__line {
    flex-shrink: 0;
    margin: 0;
    padding: 10px 50px;
    white-space: nowrap;
    
    /* Font styles */
    font-weight: 900;
    font-size: 100px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    letter-spacing: 8px;
    font-family: 'Arial Black', sans-serif;
}

/* ONE SPEED ANIMATION */
@keyframes oneSpeedOnly {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}



/* Mobile */
@media (max-width: 768px) {
    .marquee__line {
        font-size: 30px;
        padding: 5px 15px;
    }
    
    .marquee__inner {
        animation-duration: 25s;
    }
    
}